@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solution */
body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-shrink: 0;
  text-decoration: none;
  justify-content: space-between;
  background: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background: #eeeeee;
  margin-top: auto;
}

.left-links,
.right-links {
  display: flex;
  margin: 20px;
  gap: 16px;
  list-style-type: none;
}

button {
  padding: 8px;
}
a {
  text-decoration: none;
}
